{% extends "CRBundle::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    </div> <!--This div is needed in order to have the video in full screen, it closes the <div class="container"> -->
    <div class="col-12 nopadding flex-center video">
        <video playsinline autoplay muted loop id="bgvid">
            <source src="{{ asset('video/home.mp4') }}" type="video/mp4">
        </video>
    </div>
    <h1 id="h1Home">Vous allez mériter<br> votre fromage</h1>
    <div id="label">
        <p id="demo"></p>
        <div id="callToAction">
            <a class="ancre" href="#nextCourse">
                Plus d'info
            </a>
        </div>
    </div>

    <div id="hp-container" class="container" style="margin-top:120px;">
        <div style="text-align: center" class="concept">
            <h2><img src="{{ asset('images/cheese-puce.png') }}">Le concept</h2>
            <p id="desc-para">
                Chaque année, la célèbre Cheese Rolling Race a lieu à Brockworth, dans le Gloucestershire (Royaume-Uni).
                La Fédération Française de Cheese Rolling célèbre cette tradition en organisant des courses inspirées de celle de Brockworth, dans toutes les régions française.
                Le but est de créer un événement familiale à l’ambiance bon enfant, sans oublier la compétition.
            </p>
        </div>
        <div style="text-align: center" id="nextCourse">
            <h2><img src="{{ asset('images/run.svg') }}">Prochaine course à {{ pistes[0].ville }} le {{ pistes[0].date|date('d/m/Y') }}</h2>
            <p>
                {{ pistes[0].description }}
            </p>
            <div class="buttonContainer flex-around">
                <button class="btn button">Participer</button>
                <button class="btn button">Parier</button>
            </div>
        </div>
        <div style="text-align: center">
            <h2><img src="{{ asset('images/news.svg') }}">Actualité</h2>
            <div class="actu-ctnr d-flex justify-content-between">
                <div>
                    <div class="actu-img"><img src="http://www.soglos.com/showimage.ashx?name=admin%2F11+sport+outdoor%2Fsg_sport_cheeserolling2017_eel.jpg"></div>
                    <h4>La première piste de cheese rolling Inaugurée !</h4>
                    <p>
                        La ministre des sport a inauguré la piste de Chamonix hier, et a ainsi démarré la saison.
                        Accompagnée des représentants de la Fédération, Laura Tulaine la présidente de la fédération a déclaré ...
                    </p>
                </div>
                <div>
                    <div class="actu-img"><img src="http://www.soglos.com/showimage.ashx?name=admin%2F11+sport+outdoor%2Fsg_sport_cheeserolling2017_eel.jpg"></div>
                    <h4>Raymond D'or prends une sérieuse option sur le championat des 3 fromages</h4>
                    <p>
                        Avec sa victoire dernièrement à Montaubant et l'abandon du tennant du titre Chris Evan Raymond D'or devient le plus grand favoris pour remporter ...
                    </p>
                </div>
                <div>
                    <div class="actu-img"><img src="http://www.soglos.com/showimage.ashx?name=admin%2F11+sport+outdoor%2Fsg_sport_cheeserolling2017_eel.jpg"></div>
                    <h4>Changements des règles officels</h4>
                    <p>
                        Les règles officielles du Cheese Rolling vont subir de légères modification, désormais la pente devra être comprise entre 10 & 20% de dénivlé pour être homologuée officiellement comme piste ...
                    </p>
                </div>
            </div>
        </div>
        <div id="map-container">
            <div class="text-center">
                <h2><img src="{{ asset('images/cheese.svg') }}">Les courses à venir en France !!</h2>
            </div>
            <div id="google-map" style="height:360px;width:100%"></div>
        </div>
        <div class="text-center mb-5">
            <h2><img src="{{ asset('images/star.svg') }}">Nos Partenaires</h2>

            <div class="flex-around sponsor">
                <div><img class="logoSponsor" src="{{ asset('images/logo-president.png') }}"></div>
                <div><img class="logoSponsor" src="{{ asset('images/logo-entremont.png') }}"></div>
                <div><img class="logoSponsor" src="{{ asset('images/logo-boursin.png') }}"></div>
                <div><img class="logoSponsor" src="{{ asset('images/logo-babybel.png') }}"></div>
            </div>
            <div class="flex-around sponsor">
                <div><img class="logoSponsor" src="{{ asset('images/logo-lyon.png') }}"></div>
                <div><img class="logoSponsor" src="{{ asset('images/logo-richesmonts.png') }}"></div>
                <div><img class="logoSponsor" src="{{ asset('images/logo-decathlon.png') }}"></div>
                <div><img class="logoSponsor" src="{{ asset('images/logo-societe.png') }}"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function initMap() {

            var france = new google.maps.LatLng(46.814461, 1.607263);

            var map = new google.maps.Map(document.getElementById('google-map'), {
                center: france,
                zoom: 5
            });

            /*map.addListener('zoom_changed', function() {
                coordInfoWindow.setContent(createInfoWindowContent(course1, map.getZoom()));
                coordInfoWindow.open(map);
            });*/

            var locations = [
                {% for piste in pistes %}
                {lat: {{ piste.coordx }}, lng: {{ piste.coordy }} },
                {% endfor %}
            ];
            /*var locations = [
                {lat: 45.593721, lng: 6.769110},
                {lat: 48.048239, lng: -0.830317},
                {lat: 44.039365, lng: 1.520300}
            ]*/


            var infoContent = [
                {% for piste in pistes %}
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">{{ piste.nom }}</h1><div id="bodyContent"><p class="mb-2">{{ piste.description }}</p><p class="mb-2">Lieu : <b>{{ piste.ville }}</b><br>Date : <b>{{ piste.date|date("\\l\\e j/m/Y \\à g:i") }}</b><br>Difficulté : <b>piste {{ piste.level }}</b><br>{% if piste.cheese %}Fromage : <b>{{ piste.cheese }}</b>{% endif %}</p><a href="/presentation">Voir les détails de la course</a></div></div>',
                {% endfor %}
            ]
            /*var infoContent = [
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">Boursin Maurice</h1><div id="bodyContent"><p><b>Boursin Maurice</b><p>est une course de Cheese Rolling se déroulant à Bourg Saint Maurice et prennant place le 3 Juillet 2018 à 12h00, cette course fait partie du parcours de la coupe des 6 frommage<a href="/presentation">Voir les détails de la course</a></p></div></div>',
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">De l\'amont à Laval</h1><div id="bodyContent"><p><b>De l\'amont à Laval</b> est une course de Cheese Rolling se déroulant à Laval et prennant place le 5 Juin 2018 à 12h00, cette course fait partie du parcours de la coupe des 6 frommages<p><a href="/presentation">Voir les détails de la course</a></p></div></div>',
                '<div id="content" class="text-dark"><div id="siteNotice"></div><h1 id="firstHeading" class="firstHeading">Mont Tombant</h1><div id="bodyContent"><p><b>Mont Tombant</b> est une course de Cheese Rolling se déroulant à Montaubant et prennant place le 3 Mai 2018 à 12h00, cette course fait partie du parcours de la coupe des 6 frommages<p><a href="/presentation">Voir les détails de la course</a></p></div></div>',
                ]*/

            var markers = locations.map(function(location, i) {
                var marker = new google.maps.Marker({
                    position: location,
                    icon: '/images/cheese-mini.png'
                    //label: labels[i]
                });
                marker.addListener('click', function() {
                    new google.maps.InfoWindow({
                        content: infoContent[i]
                    }).open(map, marker);
                });
                return marker;
            });
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var TILE_SIZE = 256;
        // The mapping between latitude, longitude and pixels is defined by the web
        // mercator projection.
        function project(latLng) {
            var siny = Math.sin(latLng.lat() * Math.PI / 180);
            // Truncating to 0.9999 effectively limits latitude to 89.189. This is
            // about a third of a tile past the edge of the world tile.
            siny = Math.min(Math.max(siny, -0.9999), 0.9999);
            return new google.maps.Point(
                TILE_SIZE * (0.5 + latLng.lng() / 360),
                TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)));
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTRGK0p4ErH3dZZnbt31ycMe4VgX4-AQE&callback=initMap"></script>
    <!-- Display the countdown timer in an element -->
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("{{ pistes[0].date }} 12:00:00").getTime();


        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = " Prochaine course dans " + days + " jours <br>" + hours + " heures "
                + minutes + " minutes " + seconds + " secondes <br> <a href='#nextCourse'></a>" ;

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
{% endblock %}