{% extends "CRBundle::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="my-4">Proposez un terrain à l'homologation de la FFCR</h1>

    {{ form_start(newPisteForm, {'attr': {'class': 'form-horizontal form-piste'}}) }}
    {{ form_errors(newPisteForm) }}
    {{ form_rest(newPisteForm) }}
    {{ form_end(newPisteForm) }}

{% endblock %}